* {
    box-sizing: border-box;
    overflow: auto;
}

body {
 background-image: url("bgbild.jpg");
 background-size: 100%;
 width: 100%;
 height: auto;
 background-repeat: no-repeat;
 color: #fff;
 font-weight: bolder;
 text-align: center;
 font-size: x-large;
 text-shadow: 2px 2px red;
 
 }

#Todo-form {
 margin-top: 15%;
  
}
#Todo-form :hover {
    color: red;
    letter-spacing: 1px;
}
#list {
    text-align: center;
    margin-right: 20%;
    display: block;

}